os: linux
dist: bionic
language: c
before_install:
  - sudo apt-get install -y patchutils libproc-processtable-perl linux-headers-$(uname -r)
install:
  - git clone git://linuxtv.org/media_build.git
  - cd media_build
  - ls -lrt
  - chmod +x build
  - ./build
  - ls -lrt