matrix:
  include:
    - os: linux
      dist: precise
    - os: linux
      dist: trusty
    - os: linux
      dist: xenial
    - os: linux
      dist: bionic
language: c
before_install:
  - sudo add-apt-repository "deb http://archive.ubuntu.com/ubuntu $(lsb_release -sc) universe"
  - sudo apt update
  - sudo apt install -y patchutils libproc-processtable-perl
  - rm -rf media_build_clean/
  - wget https://github.com/jrcichra/PCTV80e/releases/download/v1.0/media_build_clean.zip
  - unzip media_build_clean.zip
install:
  - cd media_build
  - bash -x build
script:
  - make install